* {
    background: #bfa60b;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color:black;
   
} 
#mytable {
    background: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
} 
#mydialog {
    background: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color:red;
}
label {
    color: black;
}

